{% extends 'home/basic.html' %}
{% block title %} Products | Trilingo{% endblock %}
{% load static %}

{% block body %}

  <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
					 <h2 class="title">About</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-10">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-us-thumbnail mb-10">
                        <img src="{% static 'img/bg-img/change.jpg' %}" alt="">
                        <!-- Video Area -->
                        
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="section-heading mb-5">
                        <h2>Alfred Technologies</h2>
                    </div>

                    <div class="about-us-content mb-10">
                       

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>Inspired by Sir Alfred Nobel ( Nobel Peace Prize ), we are a social technology company focused on improving society and enabling people for better outcomes across multilingual learning, cross-cultural experiences and diversity education. </p> <p>We leverage technology and human capacity and intellectual insights to deliver integrated solutions in order to influence social processes. </p>
                                        <p>We are reimagining the human experience of working with social issues. Join us on our mission of enabling people with better experiences from diverse societies around the world.</p>
                                    </div>
                                

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
			

        </div>

        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
		
		<div class="container">
            <div class="border-line mt-10"></div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
	
	
	<!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-10">
        <div class="container">
            <div class="row align-items-center">
               

                <!-- About Us Content -->
                <div class="col-12 col-lg-6">
                   
                    <h2>WHAT MAKES US AWESOME !</h2> <br>
                    <div class="about-us-content mb-10">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">CULTURE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">CREATIVITY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">DIVERSITY</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                       <p>Work culture is an intangible ecosystem that makes some places great to work and other places toxic. In a nutshell, the ideology of an organization is what constitutes its work culture.</p>
                                        <p>It affects or defines the ability of the leadership and employees to relate to each other for the common good of the organization and operate within a mutually agreed and acceptable boundary of cultural values and emotional interface.</p>
                                       
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>Being creative at work generally means taking risks, which might make you hesitate. Fear of the unknown is a powerful thing, especially when it means you might fail.  </p>
                                        <p>But here’s the thing: We be creativity in the workplace is absolutely important. If we can apply creative thinking to our everyday work life, we’ll find that not only will the day stop feeling like drudgery, but you’ll be unlocking more meaningful results.  </p>
										
										

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>The modern workforce is made up of people of different genders, ages, ethnicity, religions, and nationalities. They make better decisions, they are more creative, and they produce better business results.</p>
                                      
										
										<p> Workplace diversity fosters mutual respect among employees. Whether employees work in groups or teams comprised of co-workers with varied work styles, disabilities or who represent different cultures or generations, a synergistic work environment becomes the norm.</p>
										
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<br><br><br>
				 <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-us-thumbnail mb-10">
                        <img src="{% static 'img/bg-img/awesome.png' %}" alt="">
                        <!-- Video Area -->
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- About Background Pattern -->
      
		<div class="container">
		<!-- Border -->
		 <div class="border-line mt-10"></div>
		 </div>
        
    </section>
    <!-- ***** About Us Area End ***** -->
	

	
	 <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-10">
        <div class="container">
        
              

                <!-- About Us Content -->
              <br> <br><br>
                   <div class="section-heading mb-5">
                        <h2>We Value</h2>
                    </div>

                    <div class="about-us-content mb-80">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="true">TRUST</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tabB" data-toggle="tab" href="#tab-B" role="tab" aria-controls="tab-B" aria-selected="false">COLLABORATION</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">INNOVATION</a>
                                </li>
								<li class="nav-item">
                                    <a class="nav-link" id="tabD" data-toggle="tab" href="#tab-D" role="tab" aria-controls="tab-D" aria-selected="false">IMPACT</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                <div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p><i>The best thing you can do to help others take responsibility is to authentically practice the behaviors that you want others to practice.</i> </p>
										<p>Successful businesses are built on relationships. Great teams build environments where they can implicitly trust the data they use, their teammates, and also inspire trust in interactions with their business colleagues.Great teams build environments where they can implicitly trust their teammates, and also inspire trust in interactions with their business colleagues. </p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-B" role="tabpanel" aria-labelledby="tabB">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p><i>Great things in business are never done by one person; they’re done by a team of people.</i></p>
										<p>Teams will always have a variety of roles, skills, favorite tools, titles and work styles. The best teams don’t just embrace diversity, but also thrive in it. With multiple individuals working on a project, the work can be divided up equally and efficiently between those with the time and the expertise to handle specific tasks.  </p>
 
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="tab-C" role="tabpanel" aria-labelledby="tabC">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                    <p><i>Success today requires the agility and drive to constantly rethink, reinvigorate, react, and reinvent.</i> </p>
									<p>The best teams know the value of innovation and create spaces where it's easy to experiment and sometimes fail.  Employess are empowered to work from home or on the vaccation without compromising company productivity. It comes through turning feedbacks into action and letting the ideas transform into reality. </p>
									
                                   
									
									</div>
                                </div>
								
								<div class="tab-pane fade" id="tab-D" role="tabpanel" aria-labelledby="tabD">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
									       <p><i>Genius is in the idea. Impact, however, comes from action.</i> </p>
                                        <p>Talent wins games, but teamwork and intelligence conquore great challenges. Success is not measured in the amount of dollars you make, but the amount of lives you impact. Could anything be better than this waking up every day knowing that lots of people are smiling because you chose to impact lives, making the world a better place ? </p>
									
									
									</div>
                                </div>
								
								
                            </div>
                        </div>
                    </div> 
                
				
				 
               
			
			
			
			
			
        </div>
		</section>
		
				<!-- Border -->
        <div class="container">
			<div class="border-line"></div>
        </div>
		
			    <!-- ***** Why Choose Us Area Start ***** -->
    <section class="uza-why-choose-us-area section-padding-80">
        <div class="container">
		 <div class="row align-items-center">
		 
		   <!-- Choose Us Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="choose-us-thumbnail mb-10">
                        <img class="w-100" src="{% static 'img/bg-img/work.png' %}" alt="">
                    </div>
                </div>
                <!-- Choose Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="choose-us-content mb-10">
                        <div class="section-heading mb-4">
                            <h2>THAT'S NOT ALL !</h2>
                        </div>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Our internships are serious business</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Engineering is at the heart of everything we do</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Become part of the community</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Ownership and impact from day one</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> We care about your exponential growth</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Work on defining the future of science and technology!</li>
                        </ul>
                    </div>
                </div>
              
            </div>
        </div>
		
		<!-- Border -->
        <div class="container">
            <div class="border-line mt-80"></div>
        </div>
    </section>
    <!-- ***** Why Choose Us Area End ***** -->
		
	
		

     
	 
	 <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
					<br><br>
							<!-- About Us Content -->
              
                   <div class="section-heading mb-5">
                        <h2>JOIN US !</h2>
                    </div>

                    <div class="about-us-content mb-10">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="true">Product & Engineering</a>
                                </li>
								
								
                                <li class="nav-item">
                                    <a class="nav-link" id="tabB" data-toggle="tab" href="#tab-B" role="tab" aria-controls="tab-B" aria-selected="false">Data Science</a>
                                </li>
								
								<li class="nav-item">
                                    <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">Strategy & Operations</a>
                                </li>
								
								<li class="nav-item">
                                    <a class="nav-link" id="tabD" data-toggle="tab" href="#tab-D" role="tab" aria-controls="tab-D" aria-selected="false">Linguist</a>
                                </li>
								
								
                            </ul>
                        </div>

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                
								<div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
									     <h3>What will you do ? </h3>
									    <p>Work across verticals to make the user experience on our platform simple and seamless and implement the background functionality in the most cost-effective and memory-friendly way. </p>
                                        <p>Abstract away complex data interactions with easy-to-use APIs that will power web applications and support our Engineering Team manage end-to-end of the backend for our products. </p>
										<p>Set up SDKs to interact with the backend over HTTP in the most secure and object-oriented way and own, scale and maintain the compute and storage infrastructure for the various product teams.</p>
										  <h3>  What makes you a match for us? </h3>
									    <p>You have a desire to deepen your knowledge in current technologies as well as learn new ones.</p>
                                        <p>You care about scale, quality, structured readable code (preferably in MVC patterns), cross-platform and cross-browser issues, and module reusability, even before approaching the problem.</p>
                                        <p>You are proficient or at least have experience with  technologies like Angular.js,React, PHP,Node.js, Python,  MongoDB, Django, Cloud service providers(AWS/Google cloud), and Docker ecosystem. </p>
										
										<a href="/home/career" class="btn uza-btn mt-30">Applya</a>
                                    </div>
                                </div>
								
								<div class="tab-pane fade show " id="tab-B" role="tabpanel" aria-labelledby="tabB">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
									     <h3>  What will you do ? </h3>
									    <p> research At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        
										  <h3>  What makes you a match for us? </h3>
									
                                        <p>We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place.  sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        <a href="/home/career" class="btn uza-btn mt-30">Applyb</a>
                                    </div>
                                </div>
								
								<div class="tab-pane fade show " id="tab-C" role="tabpanel" aria-labelledby="tabC">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
									     <h3>  What will you do ? </h3>
										 
										 
									    <p>Create data tools and processes using statistical methods and models for our Data Science team to analyze trends in diverse data sets that help our users across industries.</p>
                                        <p>Work with  Team to delve deep into diverse and unstructured data for driving meaningful insights to build scalable predictive models and scale our work — all while learning a new Python library to better manipulate language inconsistencies and images..</p>
										<p>Decode parameters from internal APIs, web scraping, or parsing PDFs as you devise novel ways of searching through the data and drawing correlations and output them in structure.</p>

                                        
										  <h3>  What makes you a match for us? </h3>
									
                                        <p>You can fluently work with R or Python and can easily manipulate massive data sets.</p>
                                        <p>You do not prefer writing the same logic of code twice, and love to write scalable, reusable code to process data and know when to use bar charts instead of line charts.</p>
                                        <p>You have some experience of working with big data problems or have a background and strong interest in economics, statistics, mathematics, computer science or related fields.</p>
										<a href="/home/career" class="btn uza-btn mt-30">Applyc</a>
                                    </div>
                                </div>
								
								<div class="tab-pane fade show " id="tab-D" role="tabpanel" aria-labelledby="tabD">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
									     <h3>  What will you do ? </h3>
									
                                        <p>market We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place.  sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        
										  <h3>  What makes you a match for us? </h3>
									
                                        <p>We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place.  sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                        <a href="/home/career" class="btn uza-btn mt-30">Applyd</a>
                                    </div>
                                </div>
								
								
								
								

                                
								
								
                            </div>
                        </div>
                    </div> 
                
			
        </div>
		
				<!-- Border -->
        <div class="container">
		<br> <br>
			<div class="border-line"></div>
        </div>
		
		
	
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
	
	
	
	
	 <!-- ****** Gallery Area Start ****** -->
    <section class="uza-portfolio-area section-padding-10">
	
	    
          
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center"> <br> <br>
                        <h2>MEET THE TEAM</h2>
                        <p>Join us and be a part in shaping the future. Because some deeds are noble.</p>
                    </div>
                </div>
           
        

        <!-- Portfolio Menu -->
        <div class="portfolio-menu text-center mb-40">
		<!-- ***** Border Bottom ***** -->
        <div class="container">
            <div class="border-bottom"></div> <br> 	
        </div>
	        <button class="btn active" data-filter="*">All</button>
            <button class="btn" data-filter=".intern">Product & Engineering</button>
            <button class="btn" data-filter=".team">Research</button>
			<button class="btn" data-filter=".intern">Data Science</button>
            <button class="btn" data-filter=".volunteer">Marketing</button>
            <button class="btn" data-filter=".team">Strategy & Operations</button>
			<button class="btn" data-filter=".volunteer">Linguist</button>
			<br> <br> 
			<div class="container">
            <div class="border-bottom"></div> 
          </div>
        </div>
		
		

        <div class="container-fluid">
            <div class="row uza-portfolio">

                 <!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item intern">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item volunteer">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item team">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item intern">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item intern">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item volunteer">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item team">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				<!-- Single Portfolio Item -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 single-portfolio-item intern">
                    <div class="single-team-slide ">
                        <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
                        <!-- Overlay Effect -->
                        <div class="overlay-effect">
                            <h4>Mainak Roy</h4>
                            <p>Insight, forecasting, predction, survey </p>
                        </div>
                        <!-- Social Info -->
                        <div class="team-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedIn" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-linkedIn"></i></a>
                        </div>
                    </div>
                </div>
				
				
				 

            </div>

            
        </div>
		
		
    </section>
    <!-- ****** Gallery Area End ****** -->
<!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
					
					

                    <div class="about-us-content mb-10">
                        

                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                
								<div class="tab-pane fade show active"  role="tabpanel">
                                    <!-- Tab Content Text -->
                                    <div align="center" class="tab-content-text">
									    <a href="/home/community" class="btn uza-btn mt-10">See More</a><br>
                                    </div>
                                </div>
								
								
                            </div>
                        </div>
                    </div> 
                
			
        </div>
		
		
		
	
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    




    

    <!-- ***** Cool Facts Area Start ***** -->
    <div class="uza-cf-area section-padding-80-0">
        <div class="container">
		<!-- Border Bottom -->
            <div class="border-line"></div>
			<br><br>  <br><br> 
            
            <div class="row">
			
			

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">6</span></h2>
                        <div class="cf-text">
                            <h6>Strategy<br>Project</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_piechart"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">12</span></h2>
                        <div class="cf-text">
                            <h6>Design<br>Project</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_heart_alt"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">8</span></h2>
                        <div class="cf-text">
                            <h6>Research<br>Project</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_book_alt"></i></div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cf-area d-flex align-items-center mb-80">
                        <h2><span class="counter">24</span></h2>
                        <div class="cf-text">
                            <h6>Mobile<br>Project</h6>
                        </div>
                        <div class="bg-icon"><i class="icon_profile"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ***** Cool Facts Area End ***** -->
	
			<!-- Border -->
        <div class="container">
		
			<div class="border-line"></div>
        </div>
		<br> <br> 

{% endblock %}