{% extends 'home/basic.html' %}
{% block title %} Alfred Technologies | Allo! {% endblock %}
{% load static %}



{% block body %}
    <!-- ***** Header Area End ***** -->
    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="{% static 'img/core-img/curve-1.png' %}" alt="">
                </div>
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
                                    <h3 data-animation="fadeInUp" data-delay="100ms">Be a part in defining the future of </h3>
                                    <h2 data-animation="fadeInUp" data-delay="500ms"><span>Society & Technology</span></h2>
                                    <a href="/home/about" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Know More</a>
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="{% static 'img/bg-img/Temp.png' %}" alt="" data-animation="slideInRight" data-delay="500ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Thumbnail -->
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="{% static 'img/bg-img/crazy.png' %}" alt="">
                        <!-- Video Area -->
                    </div>
                </div>
                <!-- About Us Content -->
                <div class="col-12 col-md-6">
                    <div class="about-us-content mb-80">
                        <h2>ONLY THE CRAZY ONES CHANGE THE WORLD. </h2>
                        <p><b>We breath diversity & innovation is in our DNA. </b> <br>Our love for diversity is what unites us under one roof. At Alfred Technologies you will find science tracing it's roots back to art.&nbsp We define abstracts with logic.</p>
                        <p> We are a bunch of <b>designers</b>, <b>engineers</b>, <b>travellers</b>, <b>artist</b>, & <b>poets</b>. </p>
                        <a href="/home/philosophy" class="btn uza-btn btn-2 mt-4">Our Philosophy</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
    <!-- Border -->
    <div class="container">
        <br>
        <div class="border-line"></div>
    </div>
    <!-- ***** Portfolio Area Start ***** -->
    <section class="uza-portfolio-area section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>PRODUCTS</h2>
                        <p>We are constantly looking to expand our portfolio while we're on top and while we're young.</p>
                    </div>
                    <div class="welcome-slides owl-carousel">
                        <!-- Single Welcome Slide -->
                        <!-- Welcome Content -->
                        <div class="welcome-content h-10">
                            <div class="container h-10">
                                <div class="row h-10 align-items-center">
                                    <!-- Welcome Text -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-text">
                                            <h2>TRILINGO</h2>
                                            <h5 data-animation="fadeInUp" data-delay="400ms">Tribal communites account to 104M people (approx. 8%) of Indian population. TriLingo helps you to learn about their culture, language and believes.</h5>
                                            <br><a href="/home/trilingo" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="100ms">Know More</a>
                                        </div>
                                    </div>
                                    <!-- Welcome Thumbnail -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-thumbnail">
                                            <img src="{% static 'img/bg-img/P1.png' %}" alt="" data-animation="slideInRight" data-delay="60ms">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-content h-10">
                            <div class="container h-10">
                                <div class="row h-10 align-items-center">
                                    <!-- Welcome Text -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-text">
                                            <h2>TRIBAL MATRIMONY</h2>
                                            <h5 data-animation="fadeInUp" data-delay="400ms">Looking for a perfect partner from your tribe ? <br> You are on the right place for finding the better half of your life. We are here for you exclusively. </h5>
                                            <br><a href="/home/tribalmatrimony" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="100ms">Know More</a>
                                        </div>
                                    </div>
                                    <!-- Welcome Thumbnail -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-thumbnail">
                                            <img src="{% static 'img/bg-img/P5.png' %}" alt="" data-animation="slideInRight" data-delay="60ms">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-content h-10">
                            <div class="container h-10">
                                <div class="row h-10 align-items-center">
                                    <!-- Welcome Text -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-text">
                                            <h2>TOUNGE STOP</h2>
                                            <h5 data-animation="fadeInUp" data-delay="400ms">Looking for a perfect partner from your tribe ? <br> You are on the right place for finding the better half of your life. We are here for you exclusively. </h5>
                                            <br><a href="/home/toungestop" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="100ms">Know More</a>
                                        </div>
                                    </div>
                                    <!-- Welcome Thumbnail -->
                                    <div class="col-12 col-md-6">
                                        <div class="welcome-thumbnail">
                                            <img src="{% static 'img/bg-img/P5.png' %}" alt="" data-animation="slideInRight" data-delay="60ms">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Portfolio Area End ***** -->
    <!-- Border -->
    <div class="container">
        <div class="border-line"></div>
    </div>
    <!-- ***** Services Area Start ***** -->
    <section id="service" class="uza-services-area section-padding-80-0">
        <div class="container">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>SERVICES</h2>
                </div>
            </div>
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_pencil-edit"></i>
                        </div>
                        <h5>Design</h5>
                        <p>Our designs are just what they look and feel like. It's also how it works.</p>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_cogs"></i>
                        </div>
                        <h5>Technology</h5>
                        <p>It is not that we use technology, we live to develope technology.</p>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_genius"></i>
                        </div>
                        <h5>Research</h5>
                        <p>For us it's what we do when you don’t know what we are doing.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->
    <br> <br>
    <!-- Border -->
    <div class="container">
        <div class="border-line"></div>
    </div>
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-80">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-us-thumbnail mb-80">
                        <img src="{% static 'img/bg-img/community.png' %}" alt="">
                        <!-- Video Area -->
                    </div>
                </div>
                <!-- About Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="section-heading mb-5">
                        <h2>COMMUNITY</h2>
                    </div>
                    <div class="about-us-content mb-80">
                        <div class="about-tab-area">
                            <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">INTERN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Research</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TEAM</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Mona Tab Content -->
                        <div class="about-tab-content">
                            <div class="tab-content" id="mona_modelTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>We believe that our achievements in the future — a multilingual world, best education experiences, cross-cultural platforms — will all be backed by amazing people working behind the scenes. </p>
                                        <p>At Alfred we are building solutions for the diverse set of people out there, and the internship only means you design, build, and ship for them. </p>
                                        <a href="/home/internship" class="btn uza-btn mt-30">Join</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>From man’s first step on the moon to our first flight, there were extraordinary Humans backing the great achievements of mankind.</p>
                                        <p>Join us on our mission as we reimagine the human experience of working with problems and make a better world ! As a volunteer, you get to be a part of the revolution.</p>
                                        <a href="/home/research" class="btn uza-btn mt-30">Join</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <!-- Tab Content Text -->
                                    <div class="tab-content-text">
                                        <p>If you want you work to create impact in future and solve problems for masses as you simultaneously understand and learn how organizations around the world work , apply now!</p>
                                        <p>At Alfred, you can take on big responsibilities to solve some of today's greatest social and technical problems.</p>
                                        <a href="/home/career" class="btn uza-btn mt-30">Join</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Border -->
        <div class="container">
            <div class="border-line"></div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-10">
        <div class="container">
            <!-- About Us Content -->
            <div class="section-heading mb-5">
                <h2>We Value</h2>
            </div>
            <div class="about-us-content mb-80">
                <div class="about-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="true">TRUST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabB" data-toggle="tab" href="#tab-B" role="tab" aria-controls="tab-B" aria-selected="false">COLLABORATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">INNOVATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabD" data-toggle="tab" href="#tab-D" role="tab" aria-controls="tab-D" aria-selected="false">IMPACT</a>
                        </li>
                    </ul>
                </div>
                <!-- Mona Tab Content -->
                <div class="about-tab-content">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p><i>The best thing you can do to help others take responsibility is to authentically practice the behaviors that you want others to practice.</i> </p>
                                <p>Successful businesses are built on relationships. Great teams build environments where they can implicitly trust the data they use, their teammates, and also inspire trust in interactions with their business colleagues.Great teams build environments where they can implicitly trust their teammates, and also inspire trust in interactions with their business colleagues. </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-B" role="tabpanel" aria-labelledby="tabB">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p><i>Great things in business are never done by one person; they’re done by a team of people.</i></p>
                                <p>Teams will always have a variety of roles, skills, favorite tools, titles and work styles. The best teams don’t just embrace diversity, but also thrive in it. With multiple individuals working on a project, the work can be divided up equally and efficiently between those with the time and the expertise to handle specific tasks. </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-C" role="tabpanel" aria-labelledby="tabC">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p><i>Success today requires the agility and drive to constantly rethink, reinvigorate, react, and reinvent.</i> </p>
                                <p>The best teams know the value of innovation and create spaces where it's easy to experiment and sometimes fail. Employess are empowered to work from home or on the vaccation without compromising company productivity. It comes through turning feedbacks into action and letting the ideas transform into reality. </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-D" role="tabpanel" aria-labelledby="tabD">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p><i>Genius is in the idea. Impact, however, comes from action.</i> </p>
                                <p>Talent wins games, but teamwork and intelligence conquore great challenges. Success is not measured in the amount of dollars you make, but the amount of lives you impact. Could anything be better than this waking up every day knowing that lots of people are smiling because you chose to impact lives, making the world a better place ? </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Border -->
        <div class="container">
            <div class="border-line"></div>
        </div>
        <br> <br><br>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
    <!-- ***** Newsletter Area Start ***** -->
   {% endblock %}