{% extends 'home/basic.html' %}
{% block title %} Products | Trilingo{% endblock %}
{% load static %}

{% block body %}

<div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Philosophy</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Philosophy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="./img/core-img/curve-5.png" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
            <br><br>
            <!-- About Us Content -->
            <div class="about-us-content mb-10">
                <div class="about-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabA" data-toggle="tab" href="#tab-A" role="tab" aria-controls="tab-A" aria-selected="false">Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="tabB" data-toggle="tab" href="#tab-B" role="tab" aria-controls="tab-B" aria-selected="false">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabC" data-toggle="tab" href="#tab-C" role="tab" aria-controls="tab-C" aria-selected="false">Values</a>
                        </li>
                    </ul>
                </div>
                <!-- Mona Tab Content -->
                <div class="about-tab-content">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-A" role="tabpanel" aria-labelledby="tabA">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> We vision is to make a better world with multilingual learning, cross-cultural experiences and diversity education.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="tab-B" role="tabpanel" aria-labelledby="tabB">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p>We are on a mission to leverage technology, human capacity and intellectual insights to deliver integrated solutions in order to influence social processes.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-C" role="tabpanel" aria-labelledby="tabC">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> At Alfred, when we are working on something, we put our heart and soul into it, so once we actually achieve something, the happiness that comes is amazing. The entire team celebrates and shares in it, everyone participates in that success, not just one or two people.</p>
                                <p> We are diven by our values <br>
                                    1.<b> Trust</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    2.<b> Collaboration</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    3.<b> Innovation</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    4.<b> Impact</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
        <!-- Border -->
        <div class="container">
            <br> <br>
            <div class="border-line"></div>
        </div>
        <br> <br>
    </section>
    <!-- ***** About Us Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
            <!-- About Us Content -->
            <div class="section-heading mb-5">
                <h2>OUR STORY</h2>
            </div>
            <div class="about-us-content mb-10">
                <div class="about-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">1833</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">1993</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">2008</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">2012</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab5" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="false">2013</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab6" data-toggle="tab" href="#tab-6" role="tab" aria-controls="tab-6" aria-selected="false">2014</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab7" data-toggle="tab" href="#tab-7" role="tab" aria-controls="tab-7" aria-selected="false">2017</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab8" data-toggle="tab" href="#tab-8" role="tab" aria-controls="tab-8" aria-selected="false">2019</a>
                        </li>
                    </ul>
                </div>
                <!-- Mona Tab Content -->
                <div class="about-tab-content">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 1833 BIRTH & BIOGRAPHY </p>
                                <p>We are deeply inspired by the work of Sir Alfred Nobel. Our vision is to make the world a better place. sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 1993 Hercules Signh Munda - Birth </p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2008 First Bicycle - Hercules</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2012 Maiyaan - Jharkhand Matrimony</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab5">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2013 Hostel - Munda Dhaba </p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-6" role="tabpanel" aria-labelledby="tab6">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2014 - Delhi - Tribal Matrimony </p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-7" role="tabpanel" aria-labelledby="tab7">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2017 : Saket - Teaching | Education Gap</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-8" role="tabpanel" aria-labelledby="tab8">
                            <!-- Tab Content Text -->
                            <div class="tab-content-text">
                                <p> 2019 : Trilingo - Alfred Technologies | Education | Tribal Population</p>
                                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata. Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                <p>sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore et dolore magna liquyam erat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Border -->
        <div class="container">
            <br> <br>
            <div class="border-line"></div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->
    <!-- ***** About Us Area Start ***** -->
    <section class="uza-about-us-area section-padding-00">
        <div class="container">
            <br><br>
            <!-- About Us Content -->
            <div class="section-heading mb-5">
                <h2>What is social Technology ?</h2>
                <p>Social technology a way of using human, intellectual and digital resources in order to influence social processes. It has historically referred to two meanings: as a term related to social engineering, a meaning that began in the 19th century, and as a description of social software, a meaning that began in the early 21st century.</p>
                <p>The term "social technology" was first used at the University of Chicago by Albion Woodbury Small and Charles Richmond Henderson around the end of the 19th century. At a seminar in 1898, Small spoke of social technology as being the use of knowledge of the facts and laws of social life to bring about rational social aims. In 1895 Henderson had coined the term "social art" for the methods by which improvements to society are and may be introduced. Social science makes predictions and social art gives directions. </p>
            </div>
        </div>
        <!-- About Background Pattern -->
        <div class="about-bg-pattern">
            <img src="{% static 'img/core-img/curve-2.png' %}" alt="">
        </div>
        <br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br>
 
{% endblock %}