{% extends 'home/basic.html' %}
{% block title %} Products | Trilingo{% endblock %}
{% load static %}

{% block body %}
 <!-- Background Curve -->
  <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">TriLingo</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">TriLingo</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>

<section class="uza-portfolio-single-area section-padding-80">
        <div class="container">
            <div class="row justify-content-between align-items-end">
                <div class="col-12 col-md-6">
                    <div class="portfolio-details-text">
                        <h2>Learn Tribal Language</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="portfolio-meta">
                        <a href="www.trilingo.in"><h6>www.trilingo.in</h6></a>
                        <h6>Language : 4</h6>
                        <h6>Location: Hyderabad, India</h6>
                        <h6>Estd: 17 JAN 2019</h6>
                    </div>
                    <div class="portfolio-social-info d-flex align-items-center">
                        <p>Share:</p>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-feed" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="portfolio-thumbnail mt-80">
                        <img src="{% static 'img/bg-img/13.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="portfolio-pager mt-80 d-flex align-items-center justify-content-between">
                        <a href="/home">Back to home</a>
                        <a href="./HerculesStore.html">Next Product <i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
			<br> <br> <br>
			<!-- Border Bottom -->
            <div class="border-line"></div>
        </div>
		
    </section>
    <!-- ***** Portfolio Single Area End ***** -->
	
	
	
	<!-- ***** Blog Details Area Start ***** -->
    <section class="blog-details-area section-padding-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-details-content">
                        <!-- Post Details Text -->
                        <div class="post-details-text">

                            <div class="row justify-content-center">
                                
                               
                                <div class="col-12 col-lg-10">
                                    
                                    
                                   

                                    
                                    <!-- Leave A Reply -->
                                    <div class="uza-contact-form">
                                        <h2 class="mb-4">Leave A Comment</h2>

                                        <!-- Form -->
                                        <form action="#" method="post">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Name">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                                                </div>
                                                <div class="col-12">
                                                    <textarea name="message" class="form-control mb-30" placeholder="Comment"></textarea>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn uza-btn btn-3 mt-15">Post Comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
									
									
                                </div>
								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->
{% endblock %}